<p-table [value]="userRoles" [autoLayout]="true">
  <ng-template pTemplate="header">
    <tr>
      <th *ngFor="let key of userRoles[0] | objectKeys">{{key|titleCase}}</th>
      <th>Action</th>
    </tr>
  </ng-template>
  <ng-template pTemplate="body" let-user>
    <tr>
      <td *ngFor="let key of userRoles[0] | objectKeys" [attr.key]="key">{{user[key]}}</td>
      <td key="action">
        <button pButton type="button" class="ui-button-success assign" label="Assign"></button>
      </td>
    </tr>
  </ng-template>
</p-table>