

<div class="user-mgmt">
  <div class="user-table">
    <h3 class="table-heading">User Management</h3>
    <p-table #dt [value]="customers" id="user-mgmt-table" [autoLayout]="true">
      <ng-template pTemplate="caption">
        <div class="um-paginator">
          <div class="um-controls">
            <button pButton type="button" label="Add New User" (click)="toggleUserDialog($event)"></button>
            <p-checkbox name="groupname" value="val1" label="Show All Users" [(ngModel)]="selectedValues"></p-checkbox>
            <span class="online">
              <span class="icon-circle"></span>
              <span class="online-users">Online Users</span>
            </span>
          </div>
          <div class="um-filter">
            <div class="um-filter__icon">
              <i class="pi pi-search"></i>
            </div>
            <input type="text" pInputText size="50" placeholder="Global Filter">
          </div>
          <span class="um-paginator__page">
            <p-paginator [rows]="10" [totalRecords]="120" [rowsPerPageOptions]="[10,20,30]"></p-paginator>
            <span class="um-paginator--label">Records per page</span>
          </span>
        </div>
      </ng-template>
      <ng-template pTemplate="header">
        <tr>
          <th *ngFor="let key of customers[0] | objectKeys" [attr.key]="key">{{key|titleCase}}</th>
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-customer>
        <tr>
          <td *ngFor="let key of customers[0] | objectKeys" [attr.key]="key">{{customer[key]}}</td>
        </tr>
      </ng-template>
  </p-table>

  </div>
</div>


<p-dialog styleClass="um-dialog" modal="true" [(visible)]="isNewUserDialogVisible">
  <p-header>
    Add New User
  </p-header>
  <div class="um-dialog__content">
    <p-tabView>
      <p-tabPanel header="User Details">
        <app-user-details></app-user-details>
      </p-tabPanel>
      <p-tabPanel header="User Roles">
        <h3>Roles</h3>
        <app-user-roles></app-user-roles>
      </p-tabPanel>
    </p-tabView>
  </div>
  <p-footer>
    <p-button label="Save"></p-button>
    <p-button label="Cancel"></p-button>
  </p-footer>
</p-dialog>