.user-mgmt {
  margin: 1rem;
}

.um-paginator {
  width: 100%;
  display: flex;
  justify-content: space-between;

  &--label {
    display: inline-block;
    margin-left: 1rem;
    font-size: .75rem;
  }
  &__page {
    display: flex;
    align-items: center;
  }
}

.um-controls {
  display: flex;
  justify-content: space-between;
  align-items: center;

  & > *:not(:first-child) {
    margin-left: 2rem;
  }
}

.um-filter {
  position: relative;

  &__icon {
    position: absolute;
    right: 0;
    top: 0;
    height: 100%;
    width: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  input {
    padding: .5rem 0;
    border-radius: 0;
    border: none;
    border-bottom: 1px solid #ccc;

    &:focus {
      outline: none;
      border-radius: 0;
      border-bottom: 1px solid blue;
    }
  }
}
.online {
  display: flex;
}

.online-users {
  margin-left: 0.75rem;
}
.icon-circle {
  display: inline-block;
  height: 1rem;
  width: 1rem;
  background: green;
  border-radius: 50%;
}

.um-dialog {
  &__content {
    height: 500px;
    width: 800px;
  }
}

.ui-table-caption.ui-widget-header {
  background: #fff;
}

td[key="status"] {
  text-align: center;
  width: auto;
  width: 100px;
}