


<!-- Toolbar -->
<header>
  <div class="um-header">
    <div class="ucm-heading">
      <div>Siemens Gamesa</div>
      <span>Renewable Energy</span>
    </div>

    <div class="user-settings">
      <div class="user-login">
        <div class="user-img">
          <span>WPS Login User</span>
        </div>
      </div>
    </div>
  </div>
  <div class="um-sub-header">
    <div class="um-sub-header__left">
      <div>Shantou Smart Energy Wind Farm</div>
      <span>25-03-2019, 11:20:00</span>
    </div>
  </div>
</header>

<router-outlet></router-outlet>