


<!-- Toolbar -->
<header>
  <div class="um-header">
    <div class="um-heading">
      <div class="um-heading__legend">
        <b>Siemens</b> Gamesa
      </div>
      <span class="um-heading__meta">Renewable Energy</span>
    </div>

    <div class="user-settings">
      <div class="user-login">
        <div class="user-avatar">
          <i class="pi pi-user"></i>
          <span>WPS Login User</span>
          <i class="pi pi-angle-down"></i>
        </div>
      </div>
    </div>
  </div>
  <div class="um-sub-header">
    <div class="um-sub-header__left">
      <span class="label--11">Shantou Smart Energy Wind Farm</span>
      <span class="pipe">|</span>
      <span class="label--8">25-03-2019, 11:20:00</span>
    </div>
    <div class="um-sub-header__right">
      <span class="label--11">Wind Power Supervisor</span>
    </div>
  </div>
</header>

<router-outlet></router-outlet>