/* You can add global styles to this file, and also import other style files */

* {
  box-sizing: border-box;
}

html, body {
  padding: 0;
  margin: 0;
  min-width: 100vw;
  min-height: 100vh;
}

body {
  font-family: "Open Sans", "Helvetica Neue", sans-serif;
  font-size: 14px;
}

#user-mgmt-table {
  .ui-table-caption {
    background: #fff !important;
  }
}